In [1199]:
import numpy as np
import pandas as pd
import re
from fuzzywuzzy import fuzz

In [1103]:
df = pd.read_excel(r"C:\Users\mfgas\Downloads\Salaries in Egypt at 2025 (Ø§Ù„Ø±Ø¯ÙˆØ¯).xlsx")

In [1104]:
df.dtypes

Date-Time                datetime64[ns]
Title                            object
Years of Experiences             object
Salary                           object
Date of Salary                   object
What Is your Company             object
Work Type                        object
Work Hour                        object
City of Company site             object
dtype: object

In [1107]:
df.isna().sum()

Date-Time                 0
Title                     0
Years of Experiences      0
Salary                    0
Date of Salary            0
What Is your Company      0
Work Type                 0
Work Hour                 0
City of Company site     54
dtype: int64

In [1108]:
df = df.sort_values(by=["Title"])

In [1111]:
df['What Is your Company'].unique()

array(['Not Egyption but site in egypt', '.',
       'Not Egyption and site out of egypt', 'Egyption',
       'Fully remote operations', 'Ag',
       'Saudi backdoor (dev team in Egypt)', 'Else', 'corporate',
       'Startup in canada , but thereâ€™s no site just online work and the whole team from Egypt ',
       'Multinational ', 'DXC', 'Egyptian but all work outside Egypt ',
       'morocco', "I don't own a company ",
       'Egyptian and site out of Egypt '], dtype=object)

In [1113]:
df["Title"] = df["Title"].astype(str).str.strip().str.replace(r"\s+", " ", regex=True)
df["Title"] = df["Title"].astype(str).str.lstrip()

In [1115]:
df = df.drop(index=450)

In [1117]:
df["Title"] = df["Title"].astype(str).str.strip().str.replace(r"\s+", " ", regex=True).str.title()
df = df.sort_values(by="Title").reset_index(drop=True)

In [1119]:
df["Title"] = df["Title"].astype(str).str.replace(r"\bsenior\b", "", case=False, regex=True).str.strip()

In [1121]:
df = df.drop(columns='Date-Time')
df

,Title,Years of Experiences,Salary,Date of Salary,What Is your Company,Work Type,Work Hour,City of Company site
0,. Net Developer,6,1200 usd,2025-07-16 00:00:00,Not Egyption but site in egypt,Remotley,Full Time,Cairo
1,. Net Developer,2,400 USD,2025-07-07 00:00:00,Not Egyption and site out of egypt,Remotley,Full Time,Riyadh
2,. Net Developer,6 months,13000,2025-07-18 00:00:00,Egyption,On Site,Full Time,Cairo
3,.Net,8month,10,2025-07-17 00:00:00,Egyption,Remotley,Full Time,Tanta
4,.Net Backend Developer,7 months,15000,2025-06-01 00:00:00,Egyption,On Site,Full Time,Giza
...,...,...,...,...,...,...,...,...
767,Warehouse Manager,7,25k net,2025-01-02 00:00:00,Egyption,On Site,Full Time,Giza
768,Web Developer,0,8500,2025-01-01 00:00:00,Egyption,Remotley,Full Time,NaN
769,Web Scraping Specialist,5,1500 $,2023-03-15 00:00:00,Not Egyption and site out of egypt,Hybird,Full Time,Kuwait
770,Wordpress Developer,2,10000,2024-10-01 00:00:00,Egyption,Remotley,Full Time,Cairo
771,Wordpress Deveolper,1,9000,2025-07-01 00:00:00,Egyption,Remotley,Full Time,cairo

In [1123]:
df['Salary'].unique()

array(['1200 usd', '400 USD', 13000, 10, 15000, 50000, '17k', 14000,
       '20k', 12000, 40000, 20000, 25000, 10000, '30k', '35k', 22500,
       60000, 32000, 8000, '25k', '40 k', '14000 EGP', '1000 usd', 11.5,
       7000, 7500, 30, 30000, 17000, 57000, 38000, 1150, 4000,
       '1000$ gross', 65, 15, '25 K', '1602 USD', '40K', 80000, 6000,
       9000, 14500, 22000, 75000, 58000, 24200, '600 $', 28000, '1200$',
       42000, 3000, 23000, 34000, 36000, 18000, '200$', '25000 EGP',
       13500, 45000, '2200 USD', '40,000 EGP', 31000, '50k', 27000, 51678,
       24400, 40, '1k$', 27750, 24000, 5000, '47100 Net', 1, 15800, 65000,
       'Net - 14000 EGP', 10500, 28500,
       '15500 Egp , (in Riyadh) 7500 SAR', '3800EUR', '1900 usd',
       '7500 AED ', '34k', 16000, 27500, 8500, '18k EGP', '7k', 22, 7800,
       13, 35000, 6500, 55000, '100000 EGP', 37000, 130000,
       '55000 egp net', '660 USD', ' Net:35K', 12500, 100000, 81000,
       48000, 95000, 70000, 39000, '28000 Eyp', 16500, '26000 aed',
       '2000 USD', '1500 USD', '500 USD without On Call Competition ',
       '16000 Net', '7000SAR', 62000, '2500$', '2000 usd', 43000,
       '1550 USD', 180000, 'In architecto anim s', '300$', '1500$',
       '500 USD', '750 usd', '8k', '50K', '550 usd', '140 Egp ',
       '700 USD', 23500, '48,000 Net', '15k', 18200, '16k', 165000,
       '500 usd', 20500, 66000, 19250, 48500, 1550, '1200 USD',
       '15000 EGP ', '1000 USD', '15000 EGP', '500USD', 44500, 46000,
       26000, '500$', '370 $', 32, 4500, '500 $', 62500, 53000,
       '2900 euro', '680 usd ', '42k', '48k', 21000, 37, 25, '1150 usd',
       '250$', '15K', 125000, 12, '2200 usd', 1000, '600 USD', '18k',
       3500, 12200, '4000EGP', 47500, 28600, '36K + insurance', '690 $',
       100, '9000 EGP', '10k',
       '39 net (3shan b2ali sanaten fl sherka el nas elgdeda btegy b range elmarket)',
       '25k net', 41000, 19000, '50000 egp', '4000 USD', 'Freelance',
       24700, '33,000 Dirham', 38770, '800 usd', '3600 USD', '30000 egp',
       '$1650', '600$', '20000 egp', 1600, 5500, '4000 ðŸ˜…', '1300 USD',
       11000, '1500 $', 44000, 9175, '41,000 EGP', '1650 USD',
       'Net Monthly 37,000LE with Bonus 180,000LE yearly', '1000$',
       '350 USD', '55k', '150k', 94000, 17250, '1300 dollar', 22900,
       '25 net', '30K', '90000 EGP', 64000, '2250 usd', '3000 USD',
       '3500 USD', 140000, '180k egp per month', '1470 USD', 35, '80k',
       13100, '60k', '1850 USD', '$1500', '75k', '1600 usd', 1100,
       '$1200', '1200 usd+150 usd kpis/month paid every 3 month',
       '90K EGP', 70, 85000, 90000, 120000, '42000 EGP', '3000(USD)', 60,
       '1900usd', 105000, '1100 dollar ', '$8200', '65K', '1300 usd',
       'Net Monthly 105,000. With bonuses at year end. 130000',
       '2100 USD', 3200, '4000 EUR', '63k', '1750 USD', '2500 Euro',
       '30 k ', '650 usd', '1400 USD', '~2500 USD (2496 USD)',
       'â‚¬1300 Gross', '400$ with bonus ', 174000, '700 usd',
       '690$ ~ 35000 EGP', '600 usd', '950 usd', '80000 net', 6900, 33000,
       68000, 24150, '13k', 0, 16.8, 15.2, '5000 egp', '25k net '],
      dtype=object)

In [1137]:
conversion_rates_to_egp = {
    'EGP': 1,
    'USD': 48.54,
    'EUR': 56.49,
    'SAR': 12.93,
    'AED': 13.22,
}

def parse_salary_record(val):
    text = str(val).lower().strip()

    number_match = re.search(r'\d+\.?\d*', text)
    if not number_match:
        return np.nan, None, np.nan

    number = float(number_match.group())

    if re.search(r'\d+\.?\d*\s*k', text) or re.search(r'\d+\.?\d*k', text):
        number *= 1000

    elif number < 160:
        number *= 1000

    currency_match = re.search(r'(usd|egp|sar|aed|eur|euro|dollar|dirham|\$|â‚¬)', text)

    if currency_match:
        currency = currency_match.group().upper()
        currency = {
            'DOLLAR': 'USD',
            '$': 'USD',
            'USD': 'USD',
            'EURO': 'EUR',
            'â‚¬': 'EUR',
            'EUR': 'EUR',
            'DIRHAM': 'AED',
            'AED': 'AED',
            'SAR': 'SAR',
            'EGP': 'EGP',
        }.get(currency, currency)
    else:
        currency = 'EGP'

    rate = conversion_rates_to_egp.get(currency, 1)
    amount_egp = number * rate

    return number, currency, amount_egp

df[['Amount', 'Currency', 'Amount_EGP']] = df['Salary'].apply(lambda x: pd.Series(parse_salary_record(x)))

In [1127]:
df.sort_values(by='Amount_EGP').head(60)

,Title,Years of Experiences,Salary,Date of Salary,What Is your Company,Work Type,Work Hour,City of Company site,Amount,Currency,Amount_EGP
756,Test,0,0,2025-02-01 00:00:00,Egyption,On Site,Full Time,Cai,0.0,EGP,0.0
380,Fullstack Developer (.Net/Angular),3,1000,2023-04-01 00:00:00,Not Egyption but site in egypt,Hybird,Full Time,Cairo,1000.0,EGP,1000.0
125,Cluster Revenue Analyst,3 years,1,2025-07-17 00:00:00,Egyption,On Site,Full Time,Cairo,1000.0,EGP,1000.0
607,Front End Vue/Nuxt Js,5,1100,2025-07-16 00:00:00,Not Egyption and site out of egypt,Remotley,Full Time,Jordan,1100.0,EGP,1100.0
731,Sr. Ui/Ux Designer | Product Designer,5,1100,2025-07-22 00:00:00,Egyption,Remotley,Full Time,Cairo,1100.0,EGP,1100.0
46,Ai Engineer,4,1150,2025-01-01 00:00:00,Not Egyption but site in egypt,On Site,Full Time,Giza,1150.0,EGP,1150.0
310,Frontend Developer,5,1550,2025-07-29 00:00:00,Not Egyption but site in egypt,Remotley,Full Time,cairo,1550.0,EGP,1550.0
491,Odoo Developer,5,1600,2025-01-01 00:00:00,Not Egyption and site out of egypt,Remotley,Full Time,Saudi Arabia,1600.0,EGP,1600.0
465,Ml Intern,0,3000,2025-08-01 00:00:00,Egyption,Hybird,Full Time,Cairo,3000.0,EGP,3000.0
79,Backend Developer,1,3000,2025-07-01 00:00:00,Egyption,Remotley,Part Time,"Maadi, Cairo",3000.0,EGP,3000.0
653,Software Engineer,9,3200,2025-07-01 00:00:00,Not Egyption but site in egypt,Remotley,Full Time,Riyad,3200.0,EGP,3200.0
387,Graphic Designer,1,3500,2025-08-02 00:00:00,I don't own a company,Any of them?,Part Time,Alexandria,3500.0,EGP,3500.0
47,Ai Rnd Engineer,0,4000,2025-07-21 00:00:00,Not Egyption but site in egypt,On Site,Full Time,Cairo,4000.0,EGP,4000.0
343,Full Stack Developer,1.5,4000,2025-07-17 00:00:00,morocco,On Site,Full Time,rabat,4000.0,EGP,4000.0
494,Odoo Developer,1 year,4000 ðŸ˜…,2025-07-05 00:00:00,Egyption,Remotley,Full Time,Alexandria,4000.0,EGP,4000.0
391,Hr Specialist,2,4000EGP,2025-07-01 00:00:00,Egyption,Remotley,Part Time,NaN,4000.0,EGP,4000.0
353,Full Stack Developer .Net And React (Internship),1month,4500,2025-07-16 00:00:00,Egyption,Hybird,Full Time,Giza,4500.0,EGP,4500.0
764,Ux Intern,1,5000 egp,2025-07-01 00:00:00,Not Egyption but site in egypt,Hybird,Full Time,Cairo,5000.0,EGP,5000.0
121,Clinical Engineer,1,5000,2024-07-21 00:00:00,Egyption,On Site,Full Time,Cairo,5000.0,EGP,5000.0
253,Flutter Developer,1,5000,11/11/1111,Egyption,Remotley,Full Time,cairo,5000.0,EGP,5000.0
701,Software Engineer Intern,0,5000,2025-07-17 00:00:00,Not Egyption but site in egypt,On Site,Full Time,Cairo,5000.0,EGP,5000.0
493,Odoo Developer,1,5500,2025-07-16 00:00:00,Egyption,On Site,Full Time,NaN,5500.0,EGP,5500.0
508,Php Developer,2,6000,2025-07-16 00:00:00,Egyption,Remotley,Part Time,NaN,6000.0,EGP,6000.0
271,Flutter Developer,1,6000,2025-04-09 00:00:00,Egyption,Hybird,Full Time,Cairo,6000.0,EGP,6000.0
760,Ui Ux Designer,1 year,6000,2025-03-01 00:00:00,Egyption,On Site,Full Time,Mansoura,6000.0,EGP,6000.0
724,Software Testing Engineer,less than a year,6000,2024-12-01 00:00:00,Egyption,On Site,Full Time,Mansoura,6000.0,EGP,6000.0
620,Fullstack Developer,2,6000,2025-08-28 00:00:00,Egyption,Hybird,Full Time,Cairo,6000.0,EGP,6000.0
440,Junior Data Analyst,1 year,6000,2025-01-01 00:00:00,Egyption,Hybird,Full Time,Cairo,6000.0,EGP,6000.0
484,Node.Js Developer,1,6000,2024-11-10 00:00:00,Egyption,Remotley,Full Time,Alexandria,6000.0,EGP,6000.0
71,Back End Developer,1.5,6000,2025-07-07 00:00:00,Egyption,Remotley,Full Time,Cairo,6000.0,EGP,6000.0
519,Presales,2 month,6000,2025-07-18 00:00:00,Egyption,On Site,Full Time,Cairo,6000.0,EGP,6000.0
61,Android Developer Trainee,3 months,6000,2025-07-21 00:00:00,Egyption,Hybird,Full Time,cairo,6000.0,EGP,6000.0
449,Logistics & Purchasing Specialist,2,6000,2023-10-17 00:00:00,Not Egyption but site in egypt,On Site,Full Time,El-Minia,6000.0,EGP,6000.0
166,Data Analyst,1,6500,2025-06-25 00:00:00,Egyption,Hybird,Full Time,Maadi,6500.0,EGP,6500.0
538,Quality Assurance Officer,0,6500,2025-07-24 00:00:00,Egyption,Remotley,Full Time,"Alexandria, Egypt",6500.0,EGP,6500.0
737,Surveying Engineer,2,6900,2025-06-25 00:00:00,Egyption,On Site,Full Time,Cairo,6900.0,EGP,6900.0
155,Data Analyst,2,7k,2025-06-30 00:00:00,Egyption,On Site,Full Time,Mansoura,7000.0,EGP,7000.0
33,Accountant,1,7000,2025-08-05 00:00:00,Egyption,On Site,Full Time,6th October Giza,7000.0,EGP,7000.0
492,Odoo Developer,0,7000,2025-07-01 00:00:00,Egyption,Hybird,Full Time,Cairo,7000.0,EGP,7000.0
280,Front End Developer,0,7500,2025-07-24 00:00:00,Egyption,Hybird,Full Time,Cairo,7500.0,EGP,7500.0
34,Admin Officer,1,7500,2025-07-17 00:00:00,Egyption,On Site,Full Time,Ten's of Ramadan,7500.0,EGP,7500.0
741,System Administrator,2,7500,2025-06-08 00:00:00,Egyption,On Site,Full Time,Cairo,7500.0,EGP,7500.0
751,Technical Support Specialist,5,7500,2025-07-17 00:00:00,Egyption,On Site,Full Time,We,7500.0,EGP,7500.0
295,Frontend,2.5,7500,2025-08-05 00:00:00,Else,Remotley,Part Time,Cairo,7500.0,EGP,7500.0
512,Php Deveoper,3,7500,2023-01-01 00:00:00,Not Egyption but site in egypt,On Site,Full Time,Mansoura,7500.0,EGP,7500.0
159,Data Analyst,1,7800,2025-06-01 00:00:00,Egyption,Hybird,Full Time,Cairo,7800.0,EGP,7800.0
316,Frontend Developer React,6 month,8000,2025-07-01 00:00:00,Egyption,Remotley,Part Time,Cairo,8000.0,EGP,8000.0
541,Ra,0,8000,2025-07-17 00:00:00,Egyption,On Site,Full Time,NaN,8000.0,EGP,8000.0
540,R&D Chemist,1,8000,2025-01-01 00:00:00,Not Egyption but site in egypt,On Site,Full Time,Obour City,8000.0,EGP,8000.0
378,Fullstack Developer,3,8000,2025-05-01 00:00:00,Not Egyption and site out of egypt,Remotley,Full Time,London,8000.0,EGP,8000.0
765,Ux/Ui Designer,1.5,8000,2025-05-31 00:00:00,Egyption,On Site,Full Time,Cairo,8000.0,EGP,8000.0
54,Android Developer,0,8000,2025-05-01 00:00:00,Egyption,Remotley,Part Time,Mansoura,8000.0,EGP,8000.0
255,Flutter Developer,2,8000,2025-07-17 00:00:00,Egyption,On Site,Full Time,UAE,8000.0,EGP,8000.0
299,Frontend Developer,2,8000,2025-07-30 00:00:00,Not Egyption and site out of egypt,Remotley,Full Time,"United Kingdom, London",8000.0,EGP,8000.0
413,It Specialist,1,8000,2025-07-16 00:00:00,Not Egyption but site in egypt,On Site,Full Time,Cairo,8000.0,EGP,8000.0
259,Flutter Developer,1,8k,2025-07-22 00:00:00,Egyption,On Site,Full Time,Cairo,8000.0,EGP,8000.0
26,.Net Developer,2,8000,2025-07-01 00:00:00,Egyption,Hybird,Full Time,NaN,8000.0,EGP,8000.0
286,Front End Developer React,1,8000,2024-12-10 00:00:00,Egyption,Hybird,Part Time,Cairo,8000.0,EGP,8000.0
112,Business Developer,4,8000,2025-05-13 00:00:00,Egyption,On Site,Full Time,Alexandria,8000.0,EGP,8000.0
199,Data Visualization,0.75,8000,2025-07-16 00:00:00,Not Egyption but site in egypt,On Site,Full Time,"Cairo, Saudia",8000.0,EGP,8000.0

In [1145]:
df = df[df['Amount_EGP']>= 500]

In [1129]:
titles = df['Title'].unique()
titles

array(['. Net Developer', '.Net', '.Net Backend Developer',
       '.Net Developer', '.Net Developsr', '.Net Deveoper', '.Net Junior',
       'Accountant', 'Admin Officer', 'Advanced Services Engineer',
       'Ai & Data Science Engineer', 'Ai Developer', 'Ai Engineer',
       'Ai Rnd Engineer', 'Ams Layout Design Engineer', 'Android',
       'Android Developer', 'Android Developer Trainee',
       'Angular Developer', 'Application Support Specialist',
       'Associate Android Software Engineer',
       'Associate Cybersecurity Consultant',
       'Automotive Embedded Software Test Engineer', 'Back End',
       'Back End Developer', 'Back End Engineer Php Laravel',
       'Back End Php Developer', 'Backend', 'Backend ( Php )',
       'Backend And Devops Engineer (Nodejs, Java, Aws, Terraform)',
       'Backend Developer', 'Backend Developer (Django+Nestjs)',
       'Backend Developer - Php Laravel', 'Backend Developer Php Laravel',
       'Backend Developer Php/Laravel', 'Backend Engineer',
       'Backend Engineer Node.Js', 'Backend Node.Js Developer',
       'Backend Software Engineer', 'Backend Web Deceloper',
       'Bi & Data Engineer Specialist', 'Bi Analyst', 'Bi Engineer',
       'Bigdata Engineer', 'Billing Analyst', 'Bioinformatics Engineer',
       'Biomedical Engineer', 'Broadcast Engineer', 'Business Analyst',
       'Business Developer', 'C# & Go Developer', 'C++ Engineer',
       'C++ Software Engineer', 'C, Cpp Developer', 'C/C++',
       'Civil Estimation Engineer', 'Clinical Engineer',
       'Cloud Administrator', 'Cloud Devops Engineer', 'Cloud Engineer',
       'Cluster Revenue Analyst', 'Coding Instructor',
       'Communication And Electronic Engineer',
       'Computer Vision Engineer', 'Construction Manager',
       'Control Engineer', 'Core Banking Specialist Agriculture',
       'Cost Control Engineer', 'Crm Consultant', 'Crm D365 Developer',
       'Crm Developer', 'Cto', 'Customer Service Specialist',
       'Cybersecurity Presales Engineer', 'D365 Fo Dev',
       'Data & Ai Engineer', 'Data Admin', 'Data Analysis Instructor',
       'Data Analyst', 'Data Analyst Purchasing',
       'Data Analytics Consultant', 'Data Analytics Engineer',
       'Data Center Engineer', 'Data Engineer', 'Data Engineering',
       'Data Management Specialist', 'Data Modeler',
       'Data Production Analyst', 'Data Scientist',
       'Data Scientist & Generative Ai Engineer', 'Data Visualization',
       'Data Visualization Analyst', 'Demand Planner - Retail',
       'Development Team Lead', 'Devops', 'Devops Engineer',
       'Devops Enginner', 'Devops Expert', 'Devops Infrastructure',
       'Devops/Sre', 'Dig Data Engineer', 'Digital Design',
       'Dot Net Developei', 'Dotnet Developer',
       'Dotnet Full Stack Developer', 'Dynamics 356 Crm Developer',
       'Electrical Engineer', 'Electrical Maintenance Engineer',
       'Email Marketing', 'Embedded Linux Engineer',
       'Embedded Software Engineer', 'Embedded Software Team Leader',
       'Embedded Sw Engineer', 'Engineering Manager',
       'Eu Consequatur Sunt', 'Flutter', 'Flutter Dev',
       'Flutter Developer', 'Font End Developer',
       'Fp&A Associate Manager', 'Fresh Data Engineer', 'Front End',
       'Front End Developer', 'Front End Developer React',
       'Front End Developer Vuejs', 'Front End React',
       'Front End Team Lead', 'Front End Web Developer',
       'Front-End Developer', 'Front-End Developer (Native)', 'Frontend',
       'Frontend Developer', 'Frontend Developer (Angular/React/Vue)',
       'Frontend Developer (React/Next)', 'Frontend Developer Iii',
       'Frontend Developer React', 'Frontend Developer React Nextjs',
       'Frontend Engineer', 'Frontend React Developer',
       'Frontend Reactjs', 'Frontend Software Engineer',
       'Frontend Team Lead', 'Frontend Web Developer',
       'Fulkstack .Net Developer', 'Full Stack .Net',
       'Full Stack .Net & Angular', 'Full Stack .Net Developer',
       'Full Stack .Net | Angular', 'Full Stack Developer',
       'Full Stack Developer (Angular+.Net)',
       'Full Stack Developer (Flutter, .Net, React)',
       'Full Stack Developer .Net And React (Internship)',
       'Full Stack Dot Net Developer', 'Full Stack Engineer',
       'Full Stack Enginner', 'Full Stack Java And React',
       'Full Stack Laravel Developer', 'Full Stack Php Developer',
       'Full Stack Software (.Net And Angular)',
       'Full Stack Software Engineer', 'Full Stack Sw Eng',
       'Full Stack Web Developer', 'Full Stack. Net Developer',
       'Full Stack.Net Developer', 'Full-Stack Java Developer',
       'Fullstack (Php ,Vue)', 'Fullstack .Net Developer',
       'Fullstack Dev', 'Fullstack Developer',
       'Fullstack Developer (.Net/Angular)', 'Fullstack Nodejs Developer',
       'Game Developer (Unreal Engine)', 'Gis Developer',
       'Gmail Marketing', 'Golang Developer', 'Graphic Designer',
       'Grc Analyst', 'Group Od & Talent Specialist', 'Hr Generalist',
       'Hr Specialist', 'Industrial Automation Engineer (Oil&Gas) Sector',
       'Info Sec Grc', 'Infrastructure Engineer',
       'Infrastructure Manager', 'Integration Developer',
       'Integration Engineer', 'Ios Developer', 'Ios Deveoper',
       'Iot Embedded Systems', 'Iot/Embedded',
       'Ip Datacom Customer Support', 'It First Line',
       'It Infrastructure Engineer', 'It Service Desk', 'It Specialist',
       'It Support', 'It System Administrator',
       'It Technical Help Desk Support',
       'Java And Angular Fullstack Developer', 'Java Backend Developer',
       'Java Developer', 'Java Software Engineer', 'Java Team Lead',
       'Joniur Data Engineer', 'Junior Backend Developer',
       'Junior Data Analyst', 'Junior Data Scientist',
       'Junior Ios Developer', 'Laravel', 'Laravel Developer',
       'Logistics & Purchasing Specialist', 'Machine Learning Engineer',
       'Maintenance Engineer', 'Maintenance Planning Engineer',
       'Manual Software Tester', 'Mean Stack Developer',
       'Medical Liaison', 'Mentor', 'Mern Stack Developer',
       'Mern-Stack Developer', 'Microsoft Dynamics Crm Team Lead',
       'Mid Level Frontend React', 'Mid-Level .Net Developer',
       'Mid-Level Devops Engineer', 'Ml Engineer', 'Ml Intern',
       'Mobile Application Developer', 'Mobile Apps Developer Flutter',
       'Mobile Engineer', 'Network / Network Security Engineer',
       'Network Automation Engineer', 'Network Engineer',
       'Network Security Engineer', 'Network Specialist',
       'Next Js Developer', 'Nlp Engineer', 'Nlp R&D Engineer',
       'Node Js Developer', 'Node.Js Developer',
       'Nodejs Backend Developer', 'Nodejs Develoepr', 'Nodejs Developer',
       'Odoo Developer', 'Odoo Functional Consultant', 'Odoo Implementer',
       'Operation Analyst', 'Operational Analyst',
       'Operations Team Leader In Bpo Call Centre', 'Oracle Developer',
       'People Advisor/Hr Generalist/Hr Specialist',
       'Php Backend Developer', 'Php Developer', 'Php Deveoper',
       'Php Laravel Developer', 'Presales',
       'Presales Automation Engineer', 'Principle Software Engineer',
       'Procurement Engineer', 'Product Manager', 'Product Owner',
       'Product Owner/Manager', 'Product Owner/Manager ()',
       'Product Security Engineer', 'Production Manager',
       'Production Supervisor', 'Project Manager', 'Python Dev',
       'Python Developer', 'Qa Intern', 'Qc And Automation Engineer 2',
       'Qc Team Leader', 'Quality Assurance Officer', 'Quality Control',
       'R&D Chemist', 'Ra', 'React Developer', 'React Js Developer',
       'React Js Front End Developer', 'React Native',
       'React Native Developer', 'Resident Engineer Telecom Company',
       'Rnd Computer Vision Engineer', 'Robotic Software Engineer',
       'Robotics Engin', 'Robotics Sw Engineer', 'Rpa Developer',
       'Sales Analyst', 'Sap Abap Developer', 'Sap Functional Specialist',
       'Sap Mm Consultant', 'Scrum Master', 'Security Engineer',
       '.Net Backend Engineer', 'Analyst', 'Android Engineer',
       'Application Support', 'Automation Tester', 'Data Engineed',
       'Data Management Engineer', 'Database Administrator',
       'Developer (Java Springboot&& Angular )', 'Dot Net Developer',
       'Erp Developer', 'Front End Engineer', 'Front End Vue/Nuxt Js',
       'Front-End', 'Frontend (React And React Native)',
       'Frontend Engineer (Next.Js)', 'Full Stack',
       'Full Stack Developer Dot Net', 'Full Stack. Net Angular',
       'Internal Auditor And Process Improvement (Tech Industry)',
       'Java Experience', 'Java Fullstack', 'Java Spring Boot Developer',
       'Mbd Engineer', 'Mechanical Design Engineer', 'Mlops',
       'Mlops,  Ai', 'Mobile Developer',
       'Open-Source Voip System Engineer | Tier 3 Technical Support Engineer',
       'Penetration Tester', 'Product Analyst', 'Qa', 'Qc',
       'Ruby On Rails Engineer', 'Soc Analyst', 'Software',
       'Software Developer', 'Software Engineer',
       'Software Engineer (Backend)', 'Software Quality Control Engineer',
       'Seniro Software Engineer', 'Senuor Java Fullstack',
       'Soc Analyst T 1', 'Soc Analyst Tier1',
       'Social Media Marketing Executive', 'Software Developer(.Net)',
       'Software Development And Cybersecurity Specialist',
       'Software Engineer (.Net Stack)', 'Software Engineer (Full Stack)',
       'Software Engineer (Java)',
       'Software Engineer 2 (Front-End Developer)',
       'Software Engineer Ii ( Fullstack .Net Developer )',
       'Software Engineer Intern', 'Software Engineer Machine Learning',
       'Software Engineer( Mobile React Native , Backend Django)',
       'Software Engineer(Backend)', 'Software Engineering Intern',
       'Software Qc Engineer', 'Software Quality Control',
       'Software Quality Control Tester', 'Software Test Engineer',
       'Software Tester', 'Software Tester/Qa Engineer',
       'Software Testing', 'Software Testing Engineer',
       'Softwares Tester', 'Solution Architect', 'Solutions Engineer',
       'Sql Dba | Oci Admin', 'Sr. Frontend Developer',
       'Sr. Ui/Ux Designer | Product Designer', 'Sr.Dynamics Consultant',
       'Staff Software Developer', 'Storage&Backup Admin',
       'Structural Steel Detailer', 'Supervisor Telesales',
       'Surveying Engineer', 'Sw Testing Engineer', 'Swe Intern',
       'System Administrator', 'Teaching Assistant', 'Tech Lead Manager',
       'Technical Lead, Backend And Devops', 'Technical Office Engineer',
       'Technical Specialist-Automation', 'Technical Support',
       'Technical Support Engineer', 'Technical Support Manager',
       'Technical Support Specialist',
       'Technical Talent Acquisition Coordinator',
       'Technical Talent Acquisition Specialist', 'Technical Team Lead',
       'Telecom Engineer', 'Test', 'Test Automation Engineer',
       'Testing Intern', 'Uat  Specialist', 'Ui Ux Designer',
       'Ui/Ux Designer', 'Ui\\Ux Designer', 'University Lecturer',
       'Ux Intern', 'Ux/Ui Designer', 'Vue Front-End Developer',
       'Warehouse Manager', 'Web Developer', 'Web Scraping Specialist',
       'Wordpress Developer', 'Wordpress Deveolper'], dtype=object)

In [1131]:
categories = {
    "Embedded": ["embedded"],
    "Security": ["security", "cybersecurity"],
    "Fullstack": ["fullstack","WebDeveloper"],
    "UI UX": ["ui/ux", "ux\\ui", "ux",],
    "Mobile": ["mobile","Flutter","android", "ios", "application"],
    "Backend": ["backend", ".net", "dotnet", "php", "laravel", "nodejs", "django", "nestjs", "rubyonrails"],
    "Frontend": ["frontend", "angular", "react", "vue", "next","wordpress"],
    "Analyst": ["bi", "business", "revenue","Data Production Analyst"],
    "DevOps-MLOps": ["devops", "cloud"],
    "Biomedical": ["biomedical", "clinical"],
    "IT": ["it", "technical", "telecom", "broadcast", "customerservice", "communication"],
    "Engineering": ["civil", "estimation", "electronic", "controlengineer", "structuralsteeldetailer"],
    "Data-Science": ["data", "ai", "ml", "computervision", "scientist", "visualisation", "bigdata", "nlp", "sql"],
    "Testing": ["qaengineer", "test", "automation", "testing", "softwaretester", "sqc", "solution"]
}

THRESHOLD = 85

def assign_category(title:str):
    title_lower = title.lower().replace(" ","")
    matched_categories = []

    for category, keywords in categories.items():
        for kw in keywords:
            if fuzz.partial_ratio(title_lower, kw) >= THRESHOLD:
                matched_categories.append(category)
                break  

    return matched_categories[0] if matched_categories else "Other"

df['Category'] = df['Title'].apply(assign_category)

In [1147]:
df.reset_index()

,index,Title,Years of Experiences,Salary,Date of Salary,What Is your Company,Work Type,Work Hour,City of Company site,Amount,Currency,Amount_EGP,category
0,0,. Net Developer,6,1200 usd,2025-07-16 00:00:00,Not Egyption but site in egypt,Remotley,Full Time,Cairo,1200.0,USD,58248.0,Backend
1,1,. Net Developer,2,400 USD,2025-07-07 00:00:00,Not Egyption and site out of egypt,Remotley,Full Time,Riyadh,400.0,USD,19416.0,Backend
2,2,. Net Developer,6 months,13000,2025-07-18 00:00:00,Egyption,On Site,Full Time,Cairo,13000.0,EGP,13000.0,Backend
3,3,.Net,8month,10,2025-07-17 00:00:00,Egyption,Remotley,Full Time,Tanta,10000.0,EGP,10000.0,Backend
4,4,.Net Backend Developer,7 months,15000,2025-06-01 00:00:00,Egyption,On Site,Full Time,Giza,15000.0,EGP,15000.0,Backend
...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,767,Warehouse Manager,7,25k net,2025-01-02 00:00:00,Egyption,On Site,Full Time,Giza,25000.0,EGP,25000.0,Other
765,768,Web Developer,0,8500,2025-01-01 00:00:00,Egyption,Remotley,Full Time,NaN,8500.0,EGP,8500.0,Other
766,769,Web Scraping Specialist,5,1500 $,2023-03-15 00:00:00,Not Egyption and site out of egypt,Hybird,Full Time,Kuwait,1500.0,USD,72810.0,Other
767,770,Wordpress Developer,2,10000,2024-10-01 00:00:00,Egyption,Remotley,Full Time,Cairo,10000.0,EGP,10000.0,Frontend
768,771,Wordpress Deveolper,1,9000,2025-07-01 00:00:00,Egyption,Remotley,Full Time,cairo,9000.0,EGP,9000.0,Frontend

In [1187]:
df

,Title,Years of Experiences,Salary,Date of Salary,What Is your Company,Work Type,Work Hour,City of Company site,Amount,Currency,Amount_EGP,category
0,. Net Developer,6,1200 usd,2025-07-16 00:00:00,Not Egyption but site in egypt,Remotley,Full Time,Cairo,1200.0,USD,58248.0,Backend
1,. Net Developer,2,400 USD,2025-07-07 00:00:00,Not Egyption and site out of egypt,Remotley,Full Time,Riyadh,400.0,USD,19416.0,Backend
2,. Net Developer,6 months,13000,2025-07-18 00:00:00,Egyption,On Site,Full Time,Cairo,13000.0,EGP,13000.0,Backend
3,.Net,8month,10,2025-07-17 00:00:00,Egyption,Remotley,Full Time,Tanta,10000.0,EGP,10000.0,Backend
4,.Net Backend Developer,7 months,15000,2025-06-01 00:00:00,Egyption,On Site,Full Time,Giza,15000.0,EGP,15000.0,Backend
...,...,...,...,...,...,...,...,...,...,...,...,...
767,Warehouse Manager,7,25k net,2025-01-02 00:00:00,Egyption,On Site,Full Time,Giza,25000.0,EGP,25000.0,Other
768,Web Developer,0,8500,2025-01-01 00:00:00,Egyption,Remotley,Full Time,NaN,8500.0,EGP,8500.0,Other
769,Web Scraping Specialist,5,1500 $,2023-03-15 00:00:00,Not Egyption and site out of egypt,Hybird,Full Time,Kuwait,1500.0,USD,72810.0,Other
770,Wordpress Developer,2,10000,2024-10-01 00:00:00,Egyption,Remotley,Full Time,Cairo,10000.0,EGP,10000.0,Frontend
771,Wordpress Deveolper,1,9000,2025-07-01 00:00:00,Egyption,Remotley,Full Time,cairo,9000.0,EGP,9000.0,Frontend

In [1205]:
df = df.rename(columns={"Years of Experiences ": "Experience"})

In [1213]:
def round_to_half(x):
    return round(x * 2) / 2

def parse_experience(val):
    if pd.isna(val):
        return np.nan
    text = str(val).strip().lower()

    text = re.sub(r'\(.*?\)', '', text).strip()

    try:
        numeric_val = float(re.sub(r'[^0-9\.-]', '', text) or 0)
    except ValueError:
        numeric_val = 0

    if 'fresh' in text or 'junior' in text or numeric_val < 0:
        return np.nan

    if any(m in text for m in ['month', 'mo']):
        num = re.findall(r'[\d\.]+', text)
        if num:
            try:
                months = float(num[0])
                return round_to_half(months / 12)
            except ValueError:
                return np.nan
        return np.nan

    if 'less than' in text or '<' in text:
        num = re.findall(r'[\d\.]+', text)
        if num:
            try:
                return round_to_half(max(float(num[0]) - 0.1, 0))
            except ValueError:
                return np.nan
        return np.nan

    if 'half' in text:
        return 0.5

    if 'almost' in text:
        num = re.findall(r'[\d\.]+', text)
        if num:
            try:
                return round_to_half(float(num[0]) - 0.1)
            except ValueError:
                return np.nan
        return np.nan

    num = re.findall(r'[\d\.]+', text)
    if num:
        try:
            return round_to_half(float(num[0]))
        except ValueError:
            return np.nan

    return np.nan


df["Experience Years"] = df["Experience"].apply(parse_experience)

In [1215]:
df

,Title,Experience,Salary,Date of Salary,What Is your Company,Work Type,Work Hour,City of Company site,Amount,Currency,Amount_EGP,category,Experience Years
0,. Net Developer,6,1200 usd,2025-07-16 00:00:00,Not Egyption but site in egypt,Remotley,Full Time,Cairo,1200.0,USD,58248.0,Backend,6.0
1,. Net Developer,2,400 USD,2025-07-07 00:00:00,Not Egyption and site out of egypt,Remotley,Full Time,Riyadh,400.0,USD,19416.0,Backend,2.0
2,. Net Developer,6 months,13000,2025-07-18 00:00:00,Egyption,On Site,Full Time,Cairo,13000.0,EGP,13000.0,Backend,0.5
3,.Net,8month,10,2025-07-17 00:00:00,Egyption,Remotley,Full Time,Tanta,10000.0,EGP,10000.0,Backend,0.5
4,.Net Backend Developer,7 months,15000,2025-06-01 00:00:00,Egyption,On Site,Full Time,Giza,15000.0,EGP,15000.0,Backend,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,Warehouse Manager,7,25k net,2025-01-02 00:00:00,Egyption,On Site,Full Time,Giza,25000.0,EGP,25000.0,Other,7.0
768,Web Developer,0,8500,2025-01-01 00:00:00,Egyption,Remotley,Full Time,NaN,8500.0,EGP,8500.0,Other,0.0
769,Web Scraping Specialist,5,1500 $,2023-03-15 00:00:00,Not Egyption and site out of egypt,Hybird,Full Time,Kuwait,1500.0,USD,72810.0,Other,5.0
770,Wordpress Developer,2,10000,2024-10-01 00:00:00,Egyption,Remotley,Full Time,Cairo,10000.0,EGP,10000.0,Frontend,2.0
771,Wordpress Deveolper,1,9000,2025-07-01 00:00:00,Egyption,Remotley,Full Time,cairo,9000.0,EGP,9000.0,Frontend,1.0

In [1219]:
df.to_csv(r"C:\Users\mfgas\OneDrive\Desktop\Salary.csv")